<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('partials/header',{title})-%>
    <div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, aut autem eum amet ipsa nobis consectetur nostrum asperiores suscipit tenetur perspiciatis libero fugit magnam cupiditate et mollitia! In, aperiam assumenda.</p>
    </div>
    <%- include('partials/navbar')-%>
    <%- include('partials/footer')-%>
</body>
</html>