<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submitToDB" method="post">
        <label for="gamename">Game Name</label>
        <input type="text" id="gamename" name="game">
        <label for="DeveloperName">DeveloperName</label>
        <input type="text" id="DeveloperName" name="developer">
        <label for="steamurl">steamurl</label>
        <input type="text" id="steamurl" name="urlsteam">
        <button type="submit">Submit Data</button>
    </form>
</body>
</html>