@font-face {
    font-family: P;
    src: url('../fonts/Games-XvD2.ttf') format('truetype');
}


body{
    font-family: P,Arial, Helvetica, sans-serif;
    background-color: rgb(71, 70, 70);
    color: rgb(255, 255, 254);
    display: grid;
    min-height: 100vh;
    grid-template-rows: .5fr .5fr 9fr .5fr;
    gap: 5px;
}
.card{
    background-color: rgb(61, 61, 61);
    border: 5px solid rgba(44, 44, 44, 0.514);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

img{
    width: 100%;
    height: 100%;
}

nav ul{
    display:flex;
    justify-content: space-between;
}

button {
    color: white;
    background: none;
    border: none;
}

h1:hover{
    background-color: white;
    cursor: pointer;
    color:black;
}

li:hover, a:hover{
    list-style-type: square;
    color: rgb(241, 199, 121);
}

li a{
    color: rgb(235, 218, 188);
}